@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #02070c;
    --background: #f9fbfe;
    --primary: #2f7dda;
    --secondary: #ea899b;
    --accent: #e1a855;
  }
  .dark {
    --text: #f2f7fd;
    --background: #010204;
    --primary: #2572d0;
    --secondary: #751526;
    --accent: #a9711e;
  }
}
